body{
  font-family: Arial, Helvetica, sans-serif;
}
.header{  
  background-color:black;
  color:white;
  padding: 30px 0px 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.headerleft{
  float:left;
}

.floatleft{
  float:left;
}

.floatclear{
  clear: left;
}

.headermiddle{
  float:left;
  padding-left: 30px;
}
.headerright{
  float:left;
  padding-left: 30px;
}
.header2{
  /* border: 1px solid gray; */
  padding: 20px;
}

/* .header2 img{
  float:left;
} */


.header2 span{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.header2right{
  padding-top: 140px;
  padding-left: 20px;
}

.objective{
  margin-top: 5px;
  border: 1px solid gray;
  padding: 20px;
}

.skill{
  margin-top: 5px;
  border: 1px solid gray;
  padding: 20px;
}
.training{
  margin-top: 5px;
  border: 1px solid gray;
  padding: 20px;
}
.language{
  margin-top: 5px;
  border: 1px solid gray;
  padding: 20px;
}
.referees{
  margin-top: 5px;
  border: 1px solid gray;
  padding: 20px;
}


  


    
